*{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(Images/airplane.jpg);
    background-size: cover;
    background-position: center;
    margin: 0rem 4rem;
}
/* stylesheet.css*/

h1{
    font-size:2.5rem;
}

h2{
    font-size:2rem;
}
.navbar ul{
    /* display: inline-block; */
    overflow: none;
    list-style: none;
    text-align: center;
    
}

#hamburger{
    display:none;
}
 
ul li{
    display: inline-block;
    padding: 1rem 3rem;
}
 
button{
    padding: 12px;
    border: none;
}

#sendapp{
    text-decoration: none;
    padding:10px;
    background-color: #dedede;
    color:black;
}

footer{
    padding-top: 10rem;
   text-align:center;
}

@media screen and (max-width: 1150px){
    *{
        font-size:16px;
    }

    #home{
        float: left;
    }
    #hamburger{
        display:block;
    }

    .right{
        float:right;
    }

    .hide{
        display:none;
    }
    ul li{
        display: block;
        padding: 1rem;
        text-align: center;
    }

    .navbar ul{
        text-align: center;
        padding:2rem 0rem;
    }
}

@media screen and (max-width: 800px){
    *{
        font:14px;
    }
}